@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap");
svg {
  border-style: solid;
  border-width: 0.25em;
  border-color: saddlebrown;
  max-height: 90vh;
}
#positionInfo {
  display: flex;
  font-family: "Source Code Pro", monospace;
  gap: 0.25em 1em;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
body {
  display: flex;
  max-height: 100vh;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}
#demoPanel,
#mainPanel {
  overflow-y: auto;
  width: 50%;
  margin: 0.5em;
}
h1:first-child {
  margin-block-start: 0;
}
