@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap");
[style*="--base-color:"] {
  stroke: var(--base-color);
  fill: var(--base-color);
  fill-opacity: 0.25;
  stroke-width: 0.05;
}
.bad-point {
  fill: saddlebrown;
}
svg {
  border-style: solid;
  border-width: 0.25em;
  border-color: saddlebrown;
  max-height: 90vh;
}
line {
  stroke-width: 0.05;
  stroke-linecap: round;
}
line.active {
  stroke-dasharray: 0.1 0.15;
  stroke-dashoffset: 0.1;
}
#positionInfo {
  display: flex;
  font-family: "Source Code Pro", monospace;
  gap: 0.25em 1em;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
